<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bono.css">
    <title>Document</title>
</head>
<body>
    <%-include('partials/header.ejs') %>

    <%-include('partials/nav.ejs') %>

    <center>
        <form action="/bono">

            <h2>Detalles del Pago</h2>

            <div class="container">

                <div class="label">

                    <label for="">Pago por Horas Impartidas</label>
                    <label for="">Pago por Bono</label>
                    <label for="">Impuestos</label>
                    <label for="">Total a Pagar</label>

                </div>

                <div class="labels2">

                    <%
                    var pagoHorasImp = pagoHora * horas * nivel;
                    var pagoBono = pagoHorasImp * bonoHijos;
                    var impuestos = pagoHorasImp * .16;
                    var totalPagar = pagoHorasImp + pagoBono - impuestos;

                    pagoHorasImp = pagoHorasImp.toFixed(2);
                    pagoBono = pagoBono.toFixed(2);
                    impuestos = impuestos.toFixed(2);
                    totalPagar = totalPagar.toFixed(2);

                %>
                    
                    <label for="" id="" name=""><%=pagoHorasImp%></label>
                    <label for="" id="" name=""><%=pagoBono%></label>
                    <label for="" id="" name=""><%=impuestos%></label>
                    <label for="" id="" name=""><%=totalPagar%></label>

                </div>


            </div>

        </form>
    </center>


    <%-include('partials/footer.ejs') %>
</body>
</html>