<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Document</title>
</head>
<body>
    <%-include('partials/header.ejs') %>

    <%-include('partials/nav.ejs') %>

    <center>
        <form action="/bono" id="form" method="post">

            <div class="container">

                <label for="">Num. Docente</label>
                <input type="number" id="num" name="num" required><br><br>

                <label for="">Nombre</label>
                <input type="text" id="nombre" name="nombre" required><br><br>
                
                <label for="">Domicilio</label>
                <input type="text" id="domicilio" name="domicilio" required><br><br>

                <label for="">Nivel</label>
                <select type="text" name="nivel" id="nivel" required>
                    <option value="0">   </option>
                    <option value="1">Licenciatura o Ingenieria</option>
                    <option value="2">Maestro en ciencias</option>
                    <option value="3">Doctor</option>
                </select><br><br>

                <label for="">Pago Hora Base</label>
                <input type="number" id="pagoHora" name="pagoHora" required><br><br>

                <label for="">Horas Impartidas</label>
                <input type="number" id="horas" name="horas" required><br><br>

                <select type="text" name="numHijos" id="numHijos" required>
                    <option value="0">Seleccione el numero de hijos</option>
                    <option value="1">1 o 2 hijos</option>
                    <option value="2">3 a 5 hijos</option>
                    <option value="3">mas de 5 hijos</option>
                    <option value="4">Sin ningun hijo</option>
                </select><br><br>

            </div>

            <div>

                <button type="submit" id="btnCalcular">Calcular</button><br><br>
                <button type="reset" id="btnLimpiar">Limpiar</button><br><br><br><br>

            </div>



        </form>
    </center>

    <script>

        document.getElementById('form').addEventListener('submit', function(event) { 
            var nivel = document.getElementById('nivel').value;
            var numHijos = document.getElementById('numHijos').value;
            if (nivel === '0' || numHijos === '0'){
                alert('Llene los campos de todas las opciones');
                event.preventDefault();
            } 

        });

    </script>

    <%-include('partials/footer.ejs') %>
</body>
</html>