.container{
    display: flex;
    justify-content: space-between;

    width: calc(100% - 75vw);
    
}

.label{
 display: flex;
 flex-direction: column;   
}

.labels2{
    display: flex;
    flex-direction: column;
}
