select {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 150px;
    padding: 5px;
    overflow: hidden;
    background-color: #fff;
}

label{
    margin-bottom: 4.7vh;
}

input{

    padding: 5px;
    border-radius: 3px;
    border-color: rgb(255, 253, 253);

}

input:hover{

    border-color: black;

}

button{

    font-size: 15px;
    color:white;
    font-weight: bold;
    background-color: rgb(57, 56, 58);  
    padding-inline: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px;
    border-radius: 2px;

}

.container{

    width: 70%;
    padding: 30px 0 30px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;

}